<h1 class="text-center text-danger">ANNUNCI</h1>
<div class="container-fluid container-post p-3">
  <div *ngFor="let post of posts" class="border border-warning rounded p-4" id="post">
    <h2 class="d-inline-block text-primary">{{post.nome}}</h2>
    <h4 class="d-inline-block float-right text-info">€ {{post.prezzo}}</h4>
    <h6 class="text-success">tipo: {{post.tipo}}</h6>
    <h6 class="text-success">descrizione: {{post.descrizione}}</h6>
    <h6 class="float-right text-info">utente: {{post.username}}</h6><br>
    <h6 class="text-info float-right">{{post.data}}</h6>
  </div>
</div>
<form id="aggiuntaProdotto" [formGroup]="prodottoForm" (ngSubmit)="aggiungiProdotto(prodottoForm.value)">
  <h3><b>Aggiungi Prodotto</b></h3>
      <div><b>Nome</b>
          <input type="text" class="form-control" name="nome" [formControl]="prodottoForm.controls['nome']">

      </div>
      <div><b>Tipo</b>
          <input type="text" class="form-control" name="tipo" [formControl]="prodottoForm.controls['tipo']">

      </div>
      <div><b>Prezzo</b>
          <input type="number" class="form-control" name="prezzo" [formControl]="prodottoForm.controls['prezzo']">

      </div>
      <div><b>Descrizione</b>
      <input type="text" class="form-control" name="descrizione" [formControl]="prodottoForm.controls['descrizione']">

  </div>
  <h4 id="loginPerOggetti" style="display:none">NON HAI EFFETTUATO IL LOGIN</h4>


  <div *ngIf="!prodottoForm.controls['nome'].valid"
     class="alert alert-danger">campo <i>nome</i> invalido
  </div>
  <div *ngIf="prodottoForm.controls['nome'].hasError('required')"
      class="alert alert-danger">campo <i>nome</i> richiesto
  </div>

  <div *ngIf="!prodottoForm.controls['tipo'].valid"
     class="alert alert-danger">campo <i>tipo</i> invalido
  </div>
  <div *ngIf="prodottoForm.controls['tipo'].hasError('required')"
      class="alert alert-danger">campo <i>tipo</i> richiesto
  </div>

  <div *ngIf="!prodottoForm.controls['prezzo'].valid"
     class="alert alert-danger">campo <i>prezzo</i> invalido
  </div>
  <div *ngIf="prodottoForm.controls['prezzo'].hasError('required')"
      class="alert alert-danger">campo <i>prezzo</i> richiesto
  </div>

  <div *ngIf="!prodottoForm.controls['descrizione'].valid"
     class="alert alert-danger">campo <i>descrizione</i> invalido
  </div>
  <div *ngIf="prodottoForm.controls['descrizione'].hasError('required')"
      class="alert alert-danger">campo <i>descrizione</i> richiesto
  </div>
  <br>


  <button class="btn btn-primary" type="submit" [disabled]="!prodottoForm.valid">Aggiungi</button>
</form>
