<div class="container">
 <h2>Registrati</h2>
 <form [formGroup]="myForm"
       (ngSubmit)="onSubmit(myForm.value)"
       class="jumbotron">

   <div class="form-group">
     <label for="nomeInput">Nome</label>
     <input type="text"
           id="nomeInput"
           placeholder="dimmi il nome"
           name="nome"
           [formControl]="myForm.controls['nome']"
           class="form-control">

     <label for="cognInput">Cognome</label>
     <input type="text"
           id="cognInput"
           placeholder="dimmi il cognome"
           name="cognome"
           [formControl]="myForm.controls['cognome']"
           class="form-control">

     <label for="usernInput">Username</label>
     <input type="text"
           id="usernInput"
           placeholder="dimmi l'username"
           name="username"
           [formControl]="myForm.controls['username']"
           class="form-control">

     <label for="emailInput">Email</label>
     <input type="email"
           id="emailInput"
           placeholder="dimmi l'email"
           name="email"
           [formControl]="myForm.controls['email']"
           class="form-control">

     <label for="pswInput">Password</label>
     <input type="password"
           id="pswInput"
           placeholder="scrivi password"
           name="password"
           [formControl]="myForm.controls['password']"
           class="form-control">

      <button type="submit" class="btn btn-primary">Submit</button>
   </div>
 </form>

 <div *ngIf="!myForm.controls['nome'].valid"
     class="alert alert-danger">campo nome invalido
</div>
<div *ngIf="myForm.controls['nome'].hasError('required')"
     class="alert alert-danger">campo nome richiesto
</div>

<ul>
  <li *ngFor = "let a of utenti">Nome: {{a.nome}} <br>
  Cognome: {{a.cognome}}<br>
  Username: {{a.username}} <br>
  Password: {{a.password}}<br>
  Email: {{a.email}}
  </li>
</ul>
