<div class="container" [hidden] = "hide">
 <h2>Registrati</h2>
 <form [formGroup]="signup"
       (ngSubmit)="onSubmit(form-signup.value)"
       class="jumbotron">

   <div class="form-group">
     <label for="nomeInput">Nome</label>
     <input type="text"
           id="nomeInput"
           placeholder="dimmi il nome"
           name="nome"
           [formControl]="signup.controls['nome']"
           class="form-control">

     <label for="cognInput">Cognome</label>
     <input type="text"
           id="cognInput"
           placeholder="dimmi il cognome"
           name="cognome"
           [formControl]="signup.controls['cognome']"
           class="form-control">

     <label for="usernInput">Username</label>
     <input type="text"
           id="usernInput"
           placeholder="dimmi l'username"
           name="username"
           [formControl]="signup.controls['username']"
           class="form-control">

     <label for="emailInput">Email</label>
     <input type="email"
           id="emailInput"
           placeholder="dimmi l'email"
           name="email"
           [formControl]="signup.controls['email']"
           class="form-control">

     <label for="pswInput">Password</label>
     <input type="password"
           id="pswInput"
           placeholder="scrivi password"
           name="password"
           [formControl]="signup.controls['password']"
           class="form-control"><br>

      <button type="submit" class="btn btn-primary" [disabled]="!signup.valid">Registrati</button>
   </div>
 </form>


  <div *ngIf="!signup.controls['nome'].valid"
      class="alert alert-danger">campo <i>nome</i> invalido
  </div>
  <div *ngIf="signup.controls['nome'].hasError('required')"
      class="alert alert-danger">campo <i>nome</i> richiesto
  </div>

  <div *ngIf="!signup.controls['cognome'].valid"
      class="alert alert-danger">campo <i>cognome</i> invalido
  </div>
  <div *ngIf="signup.controls['cognome'].hasError('required')"
      class="alert alert-danger">campo <i>cognome</i> richiesto
  </div>

  <div *ngIf="!signup.controls['username'].valid"
      class="alert alert-danger">campo <i>username</i> invalido
  </div>
  <div *ngIf="signup.controls['username'].hasError('required')"
      class="alert alert-danger">campo <i>username</i> richiesto
  </div>

  <div *ngIf="!signup.controls['email'].valid"
      class="alert alert-danger">campo <i>email</i> invalido
  </div>
  <div *ngIf="signup.controls['email'].hasError('required')"
      class="alert alert-danger">campo <i>email</i> richiesto
  </div>

  <div *ngIf="!signup.controls['password'].valid"
      class="alert alert-danger">campo <i>password</i> invalido
  </div>
  <div *ngIf="signup.controls['password'].hasError('required')"
      class="alert alert-danger">campo <i>password</i> richiesto
  </div>
</div>

<button (click) = "df()" class="btn btn-primary" id = "btnLogin">login</button>

<app-login [hidden] = "!hide"></app-login>
